.main-article{
  font-size: 60px;
  border:violet 4px solid;
  color: chartreuse;
}
.article-header{
  font-size: 1.1em;
  border: inherit;
}
.article-content{
  font-size: initial;
}
.article-link{
  color: rgb(109, 91, 173);
  text-decoration: none;
}