.img{
 width: 400px;
 box-sizing: border-box;
 border: 3px solid  skyblue;
 padding: 10px;
 margin: 10px;
}
 .span{
   width: 300px;
   border: 3px solid skyblue;
   padding: 15px;
   margin: 83px;
 }
 .div{
   width: 300px;
   border: 3px solid skyblue;
   margin: 20px;

 }
 .align-center{
   margin: 10px auto;
   text-align: center;
 }